body {
	margin: 0;
}

.v-center-content {
	display: table;
    text-align: center;
}

.v-center-content .v-center {
	display: table-cell;
    vertical-align: middle;
}
.relative {
	position: relative;
}

.sample-background {
	height: 300px;
	width: 100%;
}
.mini-sample-background {
	height: 200px;
}
.white {
	color: #fff;
}

.padding-top {
	padding-top: 70px;
}
.progressive-bg-image.bg-image-center-center {
       background-position: center center;
}
.progressive-bg-image.bg-image-left-top {
       background-position: left top;
}
.progressive-bg-image.bg-image-left-center {
       background-position: left center;
}
.progressive-bg-image.bg-image-left-bottom {
       background-position: left bottom;
}
.progressive-bg-image.bg-image-right-top {
       background-position: right top;
}
.progressive-bg-image.bg-image-right-center {
       background-position: right center;
}
.progressive-bg-image.bg-image-right-bottom {
       background-position: right bottom;
}
.progressive-bg-image.bg-image-center-top {
       background-position: center top;
}
.progressive-bg-image.bg-image-center-bottom {
       background-position: center bottom;
}