.full-absolute {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.progressive-img-load-canvas, .progressiveMedia-canvas {
	-webkit-transition: opacity 1s;
	transition: opacity 1s; 
}
.progressive-bg-image {
	background-position: center center;
	background-size: cover;
	position: relative;
}

.aspectRatioPlaceholder {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: block; }

.progressiveMedia {

  background: rgba(0, 0, 0, 0.05); }

